<style>
    #ptag{
        color: red;
    }
</style>
<script>
    $(document).ready(function (){
        $('#ptag').text('Replace Text');
        $('h5').click(function (){
            alert('ok');
            $(this).text('Click Event');
        })
    });
    /*
    window.onload = function () {
        document.getElementById("ptag").innerHTML = "Replace Text";
        document.querySelector('h5').onclick(function (){alert('OK')});
    };
     */
</script>
<div class="container">
    <h2>HTML1 Page</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg">Fake Image</div>
    <p id="ptag">Some text..</p>
</div>