<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.CommunityRepository">

    <select id="selectAll" resultType="noticeDto">
        SELECT * FROM company_notice
    </select>

    <select id="select5" resultType="noticeDto">
        SELECT * FROM company_notice LIMIT 5
    </select>

    <select id="select10" resultType="noticeDto">
        SELECT * FROM company_notice LIMIT 10
    </select>

    <select id="search" resultType="noticeDto">
        SELECT *
        FROM company_notice
        WHERE notice_title LIKE CONCAT('%', #{input}, '%') OR
            notice_content LIKE CONCAT('%', #{input}, '%') OR
            notice_member_id LIKE CONCAT('%', #{input}, '%')
    </select>

    <select id="searchByTitle" resultType="noticeDto">
        SELECT * FROM company_notice WHERE notice_title LIKE CONCAT('%', #{input}, '%')
    </select>

    <select id="searchByContent" resultType="noticeDto">
        SELECT * FROM company_notice WHERE notice_content LIKE CONCAT('%', #{input}, '%')
    </select>

    <select id="searchByMemberId" resultType="noticeDto">
        SELECT * FROM company_notice WHERE notice_member_id LIKE CONCAT('%', #{input}, '%')
    </select>

    <select id="findById" parameterType="Integer" resultType="noticeDto">
        SELECT * FROM company_notice WHERE notice_idx=#{id}
    </select>

    <insert id="save" parameterType="noticeDto">
        INSERT INTO company_notice VALUES (0,#{noticeTitle},#{noticeContent},#{noticeMemberId},NOW())
    </insert>

    <insert id="edit" parameterType="noticeDto">
        UPDATE company_notice SET notice_content = #{noticeContent} WHERE notice_idx = #{noticeIdx}
    </insert>

    <select id="orderByMemberId" resultType="noticeDto">
        SELECT * FROM company_notice ORDER BY notice_member_id
    </select>

    <select id="orderByMemberIdDesc" resultType="noticeDto">
        SELECT * FROM company_notice ORDER BY notice_member_id DESC
    </select>

    <select id="orderByNoticeDate" resultType="noticeDto">
        SELECT * FROM company_notice ORDER BY notice_date
    </select>

    <select id="orderByNoticeDateDesc" resultType="noticeDto">
        SELECT * FROM company_notice ORDER BY notice_date DESC
    </select>
</mapper>