<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.MemberRepository">

    <select id="findById" parameterType="String" resultType="memberDto">
        SELECT * FROM company_member WHERE member_id=#{id}
    </select>

    <select id="findByNameAndEmail" parameterType="memberDto" resultType="memberDto">
        SELECT * FROM company_member WHERE member_name=#{memberName} AND member_email=#{memberEmail}
    </select>

    <select id="findByIdAndNameAndEmail" parameterType="memberDto" resultType="memberDto">
        SELECT * FROM company_member WHERE member_id=#{memberId} AND member_name=#{memberName} AND member_email=#{memberEmail}
    </select>

    <select id="selectAll" resultType="memberDto">
        SELECT * FROM company_member
    </select>

    <insert id="save" parameterType="memberDto">
        INSERT INTO company_member VALUES (0,#{memberId},#{memberPw},#{memberName},#{memberEmail},#{memberEmailReceive},#{memberPwQuestion},#{memberPwAnswer},#{memberGender},#{memberBirthDate},NOW())
    </insert>

    <select id="search" resultType="memberDto">
        SELECT *
        FROM company_member
        WHERE member_id LIKE CONCAT('%', #{input}, '%') OR
            member_name LIKE CONCAT('%', #{input}, '%') OR
            member_email LIKE CONCAT('%', #{input}, '%')
    </select>

    <select id="searchById" resultType="memberDto">
        SELECT * FROM company_member WHERE member_id LIKE CONCAT('%', #{input}, '%')
    </select>

    <select id="searchByName" resultType="memberDto">
        SELECT * FROM company_member WHERE member_name LIKE CONCAT('%', #{input}, '%')
    </select>

    <select id="searchByEmail" resultType="memberDto">
        SELECT * FROM company_member WHERE member_email LIKE CONCAT('%', #{input}, '%')
    </select>

    <select id="orderById" resultType="memberDto">
        SELECT * FROM company_member ORDER BY member_id
    </select>

    <select id="orderByIdDesc" resultType="memberDto">
        SELECT * FROM company_member ORDER BY member_id DESC
    </select>

    <select id="orderByJoinDate" resultType="memberDto">
        SELECT * FROM company_member ORDER BY member_join_date
    </select>

    <select id="orderByJoinDateDesc" resultType="memberDto">
        SELECT * FROM company_member ORDER BY member_join_date DESC
    </select>

</mapper>