<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.One2oneRepository">

    <insert id="save" parameterType="one2oneDto">
        INSERT INTO company_one2one VALUES (0,#{one2oneName},#{one2onePhone},#{one2oneEmail},#{one2oneAddress},#{one2oneTitle},#{one2oneContent},NOW())
    </insert>

</mapper>